 /*--------- devices view (landscape phones, 576px and up) ---------*/
 @media screen{
     /*-------- header styling --------*/
     header{
         background-color: rgb(0, 0, 39);
         color: rgb(233, 6, 55);
         font-size: 45px;
         font-family: Georgia, 'Times New Roman', Times, serif;
         padding-left: 10px;
         padding-top: 10px;
         padding-bottom: 10px;
         border: 1px solid black;
         text-align: left;
     }
     /*--------- navigation & anchor styling ---------*/
     nav{ 
         background-color: rgb(0, 0, 39); 
         text-align: right;
         padding-right: 30px;
         padding-top: 25px;
         padding-bottom: 25px;
         margin-top: 0.1%;
         color: rgb(233, 6, 55);
         word-spacing: 10px;   
     }
     a{ 
         color: rgb(233, 6, 55);
         font-size: 13px;
         font-weight: normal;
         font-family: Georgia, 'Times New Roman', Times, serif;
         padding: 5px 20px;
         border: 1px solid rgb(204, 204, 245);
         border-radius: 20px;
         transition: 0.6s ease;
     }
     a:hover{
         background-color: white;
         color: black;
     } 
     /*-------------------------*/
     /*----------- form styles -----------*/
     .form1 {
         width: 250px;
         height: 500px;
         padding: 20px;
         position: absolute;
         top: 110%;
         left: 50%;
         bottom: 10%;
         right: 50%;
         transform: translate(-50%,-50%);
         background-color: rgba(0, 0, 0, 0.925);
         text-align: center;
         border: groove;
         border-radius: 25px;
     }
     .form1 h1{
         color: rgb(233, 6, 55);
         text-transform: uppercase;
         font-weight: bold;
         font-size: 40px;
         text-align: center;
     }
     .form1 ,.log{
         color: white;
     }
     .form1 input[type="text"],.form1 input[type="password"]{
         background: none;
         display: block;
         margin: 20px auto;
         text-align: center;
         border:3px solid whitesmoke;
         padding:10px 8px;
         width: 220px;
         outline: none;
         color: white;
         border-radius: 20px;
         transition: 0.25px;
     }
     .form1 input[type="text"]:focus,.form1 input[type="password"]:focus{
         width: 190px;
         border-color: rgb(252, 252, 252);
     }
     .form1 input[type="submit"]{
         background-color: rgba(0, 0, 0, 0.842);
         display:inline-table;
         margin: 20px auto;
         text-align: center;
         border:3px solid rgb(255, 255, 255);
         padding:14px 35px;
         width: 150px;
         outline: none;
         color: rgb(255, 255, 255);
         border-radius: 24px;
         transition: 0.25px;
         cursor:pointer;
     }
     /*-------------------------*/
}    
